@tailwind base;
@tailwind components;
@tailwind utilities;

/* базовые переменные (на случай shadcn/ui) */
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 214.3 31.8% 91.4%;
}
/* полезная утилита, на которую ругался билд */
.border-border { border-color: hsl(var(--border)); }
